#talkbubble {
 position: relative;
 -moz-border-radius: 10px;
 -webkit-border-radius: 10px;
 border-radius: 10px;
 border-color: black;
 border: solid;
}

#talkbubble:before {
  content: "";
  position: absolute;
  right: 100%;
  top: 26px;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-right: 26px solid black;
  border-bottom: 13px solid transparent;
}

#choixpeau {
  float: left;
}

#outter {
  display: flex;
  width: 800px;
  font-size: large;
}

.col {
  flex: 45%;
}
.small_col {
  flex: 10%;
}

.hide {
  display: none;
}

#talk_3 {
  font-size: xxx-large;
}
